<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>

<body>

<!-- создание навигационной панели (шапка) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <!-- создание кнопки "выход" на навигационной панели (шапка) -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="w-50 mx-auto">

            <br>
            <br>

            <h1 style="color: crimson" class="text-center">Упс... Что-то пошло не так...</h1>

            <br>
            <br>

            <h3 style="color: black" class="text-center">
                Ссылка уже не действительна. Попробуйте отправить запрос повторно.
            </h3>

        </div>
    </div>
</div>

</body>
</html>