<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<!-- create navigation bar (header) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <!-- создание кнопки "выход" на навигационной панели (шапка) -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br/>
<br/>

<div class="container">
    <div class="row">
        <div class="w-50 mx-auto">

            <h1 class="text-center">Вход</h1>

            <form id="login-user" method="POST">
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                <!-- error message -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        <div class="d-flex align-content-start justify-content-between">
                            <div class="p-2">Неверный логин или пароль.</div>
                            <div class="p-2">
                                <button form="forgot_passwords_page" type="submit" name="reset_password-submit"
                                        id="reset_password-submit" class="form-control btn btn-danger">
                                    Забыли пароль?
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">Вы вышли из учётной записи.</div>
                </div>

                <div class="form-group">
                    <label for="username"> Имя: </label>
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Введите имя пользователя" autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label for="password"> Пароль: </label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Введите пароль" autofocus="autofocus">
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="w-50 mx-auto">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="Войти">
                        </div>
                    </div>
                </div>
            </form>

            <form id="forgot_passwords_page" action="/forgot_passwords" method="GET"></form>


<!--            <div class="form-group">-->
<!--                <span>-->
<!--                    Забыли пароль?-->
<!--                    <a href="/forgot_passwords">Заходи сюда тогда.</a>-->
<!--                </span>-->
<!--            </div>-->
            <br>

            <div class="form-group">
                <span>
                    Новый пользователь?
                    <a href="/registration">Регистрация здесь</a>
                </span>
            </div>

        </div>
    </div>
</div>

<!-- Без этой строчки перестают работать вкладки и прочее. Обязательно надо включить!!! -->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Подгружаю свой js для всяких кнопочек и прочей хрени -->
<script type="text/javascript" src="/js/changeUserPass.js"></script>

</body>
</html>