<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>
<body>
<!-- создание навигационной панели (шапка) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
  <div class="container">
    <div id="navbar" class="collapse navbar-collapse">
      <!-- создание кнопки "выход" на навигационной панели (шапка) -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Выход</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>
<br>


<div class="container">
  <div class="row">
    <div class="w-50 mx-auto">

      <!-- success message -->
      <div id="success_reset_password"></div>

      <!-- mistake message -->
      <div id="mistake_reset_password"></div>

      <h1 style="color: darkslateblue" class="text-center">Введите новые данные</h1>

      <br>


      <form>

        <div class="form-group">
          <label class="control-label" for="email_reset">Email (можно оставить прежним):</label>
          <input id="email_reset" type="text" class="form-control"
                 required autofocus="autofocus" style="background-color: #F5F5F5" placeholder="ivanov@mail.ru"/>
        </div>

        <div class="form-group">
          <label class="control-label" for="password_reset">Новый пароль:</label>
          <input id="password_reset" type="text" class="form-control"
                 required autofocus="autofocus" style="background-color: #F0E68C" placeholder="*****"/>
        </div>

        <div class="form-group text-center">
          <button id="reset_user_data" type="button"
                  class="btn btn-success mb-2" onclick="changeUserPassword()">
            Добавить
          </button>
        </div>

      </form>


    </div>
  </div>
</div>


<!-- Без этой строчки перестают работать вкладки и прочее. Обязательно надо включить!!! -->
<script src="http://code.jquery.com/jquery-3.6.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Подгружаю свой js для всяких кнопочек и прочей хрени -->
<script type="text/javascript" src="/js/changeUserPass.js"></script>
<script type="text/javascript" src="/js/addNewUserForm.js"></script>

</body>
</html>